
$breakpoint: (
  mobile : 'screen and (max-width: 500px)',
  tablet : 'screen and (max-width: 780px)',
  desktop: 'screen and (min-width: 900px)'
);



@mixin mediaScreen($bp) {
  @media #{map-get($breakpoint, $bp)} {
  @content;
  }
}

// @use '~/assets/scss/mixin' as *;
// これを使いたいページの上部に記載して、

// つかうときはこんなふうに書きます
// @include mediaScreen('tablet') {
//   ここにそれぞれの大きさでのCSS;
// }

// @include mediaScreen('mobile') {
//   ここにそれぞれの大きさでのCSS;
// }